@model LMS.Model.AuthorModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var successMessage = TempData["SuccessMessage"] as string;
    var errorMessage = TempData["ErrorMessage"] as string;
}
<div class="container">
    <div class="content">
        @if (!string.IsNullOrEmpty(successMessage))
        {
            <div class="alert alert-success" role="alert">
                @successMessage
            </div>
        }

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger" role="alert">
                @errorMessage
            </div>
        }
        <div class="card ">
            <div class="card-header bg-info text-white">
                Author Form
            </div>
            <div class="card-body">
                <form id="authorForm" method="post" asp-controller="Author" asp-action="AddOrUpdateAuthor">
                    <input type="hidden" asp-for="AuthorID" />

                    <!-- First Row -->
                    <div class="form-group row">
                        <div class="col-sm-5">
                            <label for="title" class="col-form-label">
                                Author Name <span class="text-red text" aria-hidden="true">*</span>
                            </label>
                            <input type="text" class="form-control" id="athorName" name="AuthorName" value="@Model?.AuthorName" required>
                        </div>

                        <div class="col-sm-5">
                            <label for="title" class="col-form-label">
                                Author Bio <span class="text-red text" aria-hidden="true">*</span>
                            </label>
                            <input type="text" class="form-control" id="athorBio" name="AuthorBio" value="@Model?.AuthorBio" required>
                        </div>
                        <div class="col-sm-1">
                            <div class="row" style="margin-top:37px">
                                <div class="col-md-12">

                                    <button type="submit" class="btn btn-primary">@(Model?.AuthorID == 0 ? "Submit" : "Update")</button>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4" id="AuthorList">
</div>

@section scripts {
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function () {
            GetAuthorList();
           });
        function submitForm() {
            
            var formData = $('#authorForm').serialize();
            $.ajax({
                url: '@Url.Action("AddOrUpdateAuthor", "Author")',
                type: 'POST',
                data: formData,
                success: function (response) {
                    GetAuthorList();
                },
                error: function (xhr, status, error) {                  
                    console.error(xhr.responseText);
                    alert('submitted Failled!');
                }
            });
        }
        function GetAuthorList() {
            $("#AuthorList").html("");

            $.ajax({
                type: "POST",
                url: "/Author/AuthorList",
                success: function (response) {
                    $("#AuthorList").html(response);
                    $('#tblBook').DataTable({
                        "paging": true,
                        "pageLength": 10,
                        "lengthChange": true,
                        "searching": true,
                        "ordering": false,
                        "info": true,
                        "autoWidth": false,
                        "responsive": true,
                    });
                }
            })
        }
        function DeleteAuthor(AuthorID) {
        if (confirm('Are you sure to delete this author?')) {
            $.ajax({
                url: '/Author/DeleteAuthor/' + AuthorID,
                type: 'DELETE',
                success: function (result) {                   
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    
                    alert(xhr.responseText);
                }
            });
        }
    }
    </script>
}
